.Website-Title {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Proza Libre", sans-serif;
  /*z-index: 1;*/
}
.Main-Page {
  background-color: #51c4d3;
  font-family: "Montserrat", sans-serif;
}

div.form-blocks {
  border: 1px solid whitesmoke;
  border-radius: 15px;
  padding: 25px;
  margin-top: 60px;
  width: 450px;
  background-color: white;
}

.btn {
  margin-top: 10px;
  margin-left: 150px;
}

div.result-blocks {
  border-radius: 15px;
  margin-top: 25px;
  padding: 25px;
  width: 250px;
  background-color: white;
}

div.card {
  width: 200px;
  height: 200px;
}

textarea.textArea {
  resize: none;
}
